imbalanced-learn==0.12.4
langchain==0.3.30
langchain-core==0.3.86
langchain-openai==0.3.35
langchain-text-splitters==0.3.11
langgraph==0.6.11
langgraph-checkpoint==2.1.2
langgraph-prebuilt==0.6.5
langgraph-sdk==0.2.9
openai==2.44.0
pandas==2.3.3
plotly==6.8.0
scikit-learn==1.6.1
streamlit==1.50.0
xgboost==2.1.4
